header {
  background: #d6b572; }

.nav {
  border-bottom: 2px solid grey; }
  .nav h1 {
    color: white;
    text-align: center;
    margin-top: -10px;
    font-family: "Georgia";
    font-weight: bold; }
  .nav img {
    height: 200px;
    display: block;
    margin: auto;
    padding-top: 20px;
    fill: white; }
  .nav a {
    color: white; }
  .nav a:hover {
    color: #604a1c;
    text-decoration: none; }

.text h2 {
  text-align: center;
  font-family: "Georgia";
  color: #886827; }

.text p {
  text-align: center; }

.charts {
  margin-top: 20px; }
  .charts .Pie, .charts .Bar {
    text-align: center; }
    .charts .Pie h2, .charts .Bar h2 {
      color: #886827;
      font-family: "Georgia"; }

footer {
  text-align: center;
  margin-top: 40px;
  border-top: 3px solid grey; }
  footer h4 {
    color: #604a1c; }
