<div class="row text">
	<h2>Welcome!</h2>
	<p>We here at MtG Data pride ourselves on really awesome graphs. We use data from Magic related API's and bring it down into "digestable" charts. Go ahead click'em!</p>
</div>

<div class="row charts">
	<div class="col-xs-6 Pie">
	<h2>Quantity of Cards by Color</h2>
		<canvas id="myChart" width="200" height="80"></canvas>
	</div>

	<div class="col-xs-6 Bar">
	<h2>Cards at Each Converted Mana Cost</h2>
		<canvas id="grChart" width="200" height="80"></canvas>
	</div>
</div>